@charset "UTF-8";

.bd{border: 1px solid red;}
.bs{box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;}
.fr{float:right;}
.fl{float:left;}
* {box-sizing: border-box;}
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: #E3D4FF;
	border-radius: 10px;
	background-clip: padding-box;
	border: 2px solid transparent;
}

::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0);
	border-radius: 10px;
}
body {
	font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	margin: 8px 37px;
	background-color: #F8F5FD;
}
body > * {margin: 0px auto;}
/*********** 헤더 *************/
#header {
	padding: 2px 12px;
	width: 763px;
	height: 34px
}
#header > img{ /*<-*/
	cursor: pointer;
	height: 34px;
	margin: right: 6px;
}
/********떠나고 싶은 도시는?*********/
#banner {
	margin-top: 18px;
	width: 763px;
	height: 131px;
}
#banner > img { /* 지구 */
	width: 60px;
	margin: 10px 354px;
}
#banner > div:nth-child(2) { /* 떠나고 싶은 도시는 ? */
	text-align: center;
	font-size: 28px;
	font-weight: 700;
	color: rgb(58, 58, 58);
}
#banner > div:nth-child(3) { /* 도시 1곳을 선택해주세요. */
	text-align: center;
	margin-top: 9px;
	font-size: 14px;
	font-weight: 500;
	color: rgba(58, 58, 58, 0.5);
}
/********추천여행지**********/
#recomendPlace { 
	margin-top: 50px;
	width: 763px;
}
#recomendPlace > div:nth-child(1) { /*추천여행지*/
	margin-bottom: 14px;
	font-size: 14px;
	font-weight: 700;
	color: rgb(58, 58, 58);
}
#recomendPlace > div:nth-child(2){
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 8px;
}
#recomendPlace > div:nth-child(2) > span { /*도시들*/
	display: flex;
	width: 230px;
	height: 54px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	
	border-radius:100px;
	border: 1.3px solid rgba(58, 58, 58, 0.08);
	background-color: rgba(58, 58, 58, 0.02);
	
	font-weight:700;
	color:rgba(58, 58, 58, 0.6);
}
.coloredPlace {
	color: #925DE8 !important;
	border-color: #925DE8 !important;
}
/* #recomendPlace > div:nth-child(2) > span:active {
	color: #925DE8;
	border-color: #925DE8;
} */
/************직접 여행지 찾기************/
#searchPlace {
	margin-top: 50px;
	width: 763px;
}
#searchPlace > div:nth-child(1) { /*직접 여행지 찾기*/
	margin-bottom: 14px;
	font-size: 14px;
	font-weight: 700;
	color: rgb(58, 58, 58);
}
#searchPlace > img {
	width: 763px;
}
/************사진으로 여행지  찾기************/
#aiPlace {
	margin-top: 50px;
	width: 763px;
}
#aiPlace > div:nth-child(1) { /*사진으로 여행지  찾기*/
	margin-bottom: 14px;
	font-size: 14px;
	font-weight: 700;
	color: rgb(58, 58, 58);
}
#aiPlace > img {
	width: 763px;
}
/*다음 버튼*/
#nextBtn {
	background-color: #F8F5FD;
	width: 763px;
	position: fixed;
	bottom: 0;
	padding-bottom: 30px;
	padding-top: 10px;
	left: 50%;
	transform: translateX(-50%);
}
#nextBtn > div {
	opacity: 0.3; /*선택이 안됐을 경우 */
	display: flex;
	padding: 0px 30px;
	width: 763px;
	height: 46px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-color: #925DE8;
	border: 1px solid #925DE8;
	border-radius: 4px;
	font-size:14px;
	font-weight:700;
	color:white;
}
.coloredBtn {
	opacity: 1 !important;
}