@charset "UTF-8";
/* ***************** title ****************** */
#title {
    height: 100px;
	margin: 15px auto 8px;
	background-image: url("../img/게시글타이틀배경.png");
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border-radius: 20px;
}

#title > div:nth-child(1) { /* 타이틀 옆 지도svg */
	height: 50px;
	width: 50px;
    background-color: white;
    border-radius: 20px;
    padding: 8px;
    margin: 0px 10px 0px 25px;
}

#title > div > svg { /* 타이틀 옆 지도svg */
    color: #925DE8;
}

#title > div > div > div > svg { /* 작은 svg */
	margin-right: 2px;
	height: 20px;
	color: #925DE8;
}

#title > div > div {
	display: flex;
	align-items: center;
	justify-content: flex-start;	
}

#title > div > div > div {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 14px;
    font-weight: 400;
    margin-right: 10px;
}

#title > div > span { /* 게시글 제목 수정 막힘 버전 */
	font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
}

#title > div > label > input:nth-child(1) { /* 게시글 제목 */
	field-sizing: content;
	font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    border: none;
    background-color: transparent;
    padding: 0;
}

#title > div > label {
	display: flex;
	align-items: center;
	justify-content: flex-start;	
}

#title > div > label > input:nth-child(1):focus { /* 게시글 제목 */
    outline-width: 2px;
	outline-color: #E3D4FF;
}

#title > div > label > svg {
	margin-left: 5px;
	width: 18px;
	color: #925DE8;
}