@charset "UTF-8";

.bd{border: 1px solid red;}
.bs{box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;}
.fl{float:left;}
.fr{float:right;}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: #E3D4FF;
	border-radius: 10px;
	background-clip: padding-box;
	border: 2px solid transparent;
}

::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0);
	border-radius: 10px;
}
* {box-sizing: border-box;}
body {
	font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	margin: 8px 37px;
	background-color: #F8F5FD;
}
body > * {margin: -3px auto;}
/*******헤더********/
#header {
	padding: 2px 12px;
	width: 763px;
	height: 34px
}
#header > img { /*<-*/
	cursor: pointer;
	height: 34px;
	margin: right: 6px;
}
/***************여행 기간은?*************/
#banner {
	margin-top: 18px;
	width: 763px;
	height: 131px;
}
#banner > img {
	width: 60px;
	margin: 10px 354px;
}
#banner > div:nth-child(2) {
	text-align: center;
	font-size: 28px;
	font-weight: 700;
	color: rgb(58, 58, 58);
}
#banner > div:nth-child(3) {
	text-align: center;
	margin-top: 8px;
	font-size: 14px;
	font-weight: 500;
	color: rgba(58, 58, 58, 0.5);;
}
/******선택 캘린더*****/
#selectDate {
	margin-top: 50px;
	padding: 0px 30px;
	width: 763px;
}
#selectDate > input {
	width: 252px;
	font-size: 16px;
	height: 31px;
    outline: none;
    text-align: center;
}
/***달력**/
.daterangepicker:before, .daterangepicker:after {
    display: none !important; /* 달력 화살표 지우기 */
}
.daterangepicker { /*사이즈 정하기*/
    width: 720px !important;
	height: 590px;
	display: block !important;
	border-radius: 12px !important;
	bottom: 160px !important;
	top: initial !important;
    position: unset !important;
}
.daterangepicker .drp-calendar.right {display: none !important;} /* 오른쪽 달력 없애기*/
.daterangepicker .drp-calendar.left { /* 왼쪽 달력 영역이 전체 너비를 가득 채우도록 설정 */
    width: 100% !important;
    max-width: 100% !important;
    height: 100%;
    max-height: 100% !important;
}
.calendar-table {height: 100%;} /* 테이블 감싸고 있는 div도 */
.table-condensed {height: 100%;} /* 테이블도 */
.table-condensed > thead > tr:nth-child(1) {
	height: 50px;
}
.calendar-table th, .calendar-table td {
	font-size: 17px !important;
    height: 70px !important;
}
.daterangepicker select {
	background-color: #F8F5FD; 
	border-color: lightgray;
	font-size: 17px !important;
	font-weight: 600;
}
.daterangepicker select.monthselect {width: 16% !important;}
.daterangepicker select.yearselect {width: 18% !important;}
.daterangepicker td.in-range {background-color: #E7DEF9  !important; /* 날짜 범위 */}
.daterangepicker td.active, .daterangepicker td.active:hover{background-color: #925DE8 !important; /* 시작 끝 */}





/*****다음버튼****/
#nextBtn {
	background-color: #F8F5FD;
	width:763px;
	position: fixed;
	bottom: 0;
	padding-bottom: 30px;
	padding-top: 10px;
	left: 50%;
	transform: translateX(-50%);
}
#nextBtn > div {
	opacity: 0.3; /*클릭 안되면 */
	display: flex;
	padding: 0px 30px;
	width: 768px;
	height: 46px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-color: #925DE8;
	border: 1px solid #925DE8;
	border-radius: 4px;
	font-size:14px;
	font-weight:700;
	color:white;
}
.coloredBtn {
	opacity: 1 !important;
}