@charset "UTF-8";

.bd{border: 1px solid red;}
.bs{box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;}
.fl{float:left;}
.fr{float:right;}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: #E3D4FF;
	border-radius: 10px;
	background-clip: padding-box;
	border: 2px solid transparent;
}

::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0);
	border-radius: 10px;
}
* {box-sizing: border-box;}
body {
	font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	margin: 8px 37px;
	background-color: #F8F5FD;
}
body > * {margin: 0px auto;}
/*******헤더********/
#header {
	padding: 2px 12px;
	width: 763px;
	height: 34px
}
#header > img { /*<-*/
	cursor: pointer;
	height: 34px;
	margin: right: 6px;
}
#header > div {
	margin-top: 8px;
	margin-right: 21px;
	font-size: 13px;
	font-weight: 700;
	color:  #925DE8;
}
/***************여행 기간은?*************/
#banner {
	margin-top: 18px;
	width: 763px;
	height: 131px;
}
#banner > img {
	width: 60px;
	margin: 10px 354px;
}
#banner > div:nth-child(2) {
	text-align: center;
	font-size: 28px;
	font-weight: 700;
	color: rgb(58, 58, 58);
}
#banner > div:nth-child(3) {
	text-align: center;
	margin-top: 8px;
	font-size: 14px;
	font-weight: 500;
	color: rgba(58, 58, 58, 0.5);;
}
/******선택 캘린더*****/
#selectDate {
	margin-top: 50px;
	padding: 0px 30px;
	width: 763px;
}
#selectDate > img {
	width: 708px;
}
/*****다음버튼****/
#nextBtn {
	background-color: #F8F5FD;
	width:763px;
	position: fixed;
	bottom: 0;
	padding-bottom: 30px;
	padding-top: 10px;
	left: 50%;
	transform: translateX(-50%);
}
#nextBtn > div {
	opacity: 0.3; /*클릭 안되면 */
	display: flex;
	padding: 0px 30px;
	width: 768px;
	height: 46px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-color: #925DE8;
	border: 1px solid #925DE8;
	border-radius: 4px;
	font-size:14px;
	font-weight:700;
	color:white;
}
.coloredBtn {
	opacity: 1 !important;
}