@charset "UTF-8";
/* ***************헤더***************** */
#header {
	background-color: white;
	height: 72px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: space-between;
}


#header>div {
	cursor: pointer;
	margin: auto 15px;
}

#header> div:nth-child(1):hover {
	opacity: 30%;
}

#header>div:nth-child(1)>svg {
	color: #925DE8;
	height: 24px;
}

#header>div:nth-child(1)>a {
	color: #925DE8;
	font-size: 24px;
	font-weight: 500;
}

#header> div:nth-child(2) > *:hover {
	opacity: 30%;
}

#header>div:nth-child(2) {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#header>div:nth-child(2) > .headerBtn {
	margin-right: 10px;
	margin-top: 5px;
	border-radius: 10px;
	background-color: #925DE8;
	padding: 8px 10px;
	font-size: 16px;
	font-weight: 500;
	color: white;
}

#profileImg {
	border-radius: 28px;
	background-color: #925DE8;
	padding: 18px 3px;
	font-size: 10px;
	font-weight: 500;
	color: white;
}