@charset "UTF-8";

* {
	box-sizing: border-box;
}

body {
	font-family: Pretendard, "Apple SD Gothic Neo";
	background-color: #F8F5FD;
}

body>* {
	margin: auto;
}

/* ***************헤더***************** */
#header {
	background-color: white;
	width: 1280px;
	height: 72px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#header>div {
	cursor: pointer;
	margin: auto 15px;
}

#header>div:nth-child(1)>svg {
	color: #925DE8;
	height: 24px;
}

#header>div:nth-child(1)>a {
	color: #925DE8;
	font-size: 24px;
	font-weight: 500;
}

#header>div:nth-child(2) {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#header>div:nth-child(2) > div {
	margin-right: 10px;
	margin-top: 5px;
}

#header> div:nth-child(2) > div > div {
	border-radius: 10px;
	background-color: #925DE8;
	padding: 8px 10px;
	font-size: 16px;
	font-weight: 500;
	color: white;
}

#header> div:nth-child(2) > div> div:hover {
	opacity: 30%;
}

#header>div:nth-child(2) > div:nth-child(3) > div {
	border-radius: 28px;
	background-color: #925DE8;
	padding: 18px 3px;
	font-size: 10px;
	font-weight: 500;
	color: white;
}

/* ***************메인********************* */
#main {
	position: relative;
	height: 690px;
	overflow: hidden;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

#main>video {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px auto 0px;
	filter: brightness(0.6);
	object-fit: cover;
}

#main>div { /* 상상속국내여행 */
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: -225px auto 0px;
	font-size: 72px;
	font-weight: 700;
	color: white;
	letter-spacing: -1.8px;
	width: 810px;
}

#main>div:nth-child(3) { /* 현실로만드세요 */
	display: flex;
	align-items: center;
	justify-content: center;
	margin: -65px auto 0px;
	color: #925DE8;
}

#main>div:nth-child(4) { /* 작은회색글씨 */
	align-items: center; 
	justify-content : center;
	margin: 70px auto 0px;
	color: #ececec;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 0px;
	justify-content: center;
}

#main>div:nth-child(5) { /* 일정만들기버튼 */
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 220px;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0px;
	background-color: #EDE8F6;
	border: 1px solid #EDE8F6;
	color: black;
	border-radius: 36px;
	padding: 10px 15px;
	width: 184px;
	cursor: pointer;
}

#main>div:nth-child(5):hover {
	background-color: #E3D4FF;
	border: 1px solid #E3D4FF;
}

#main>div:nth-child(5)>svg {
	height: 20px;
}

/* *********************게시글******************** */

#board>div:nth-child(1) { /* 검색창부분 */
	padding: 20px 10px 0px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
}

#board {
	overflow: hidden;
}

#board>div {
	width: 1280px;
}

#board>div:nth-child(1)>span { /* 최신여행계획 */
	margin-left: 20px;
	font-size: 25px;
	font-weight: 600;
}

#board>div:nth-child(1)>div { /* 검색창 */
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 350px;
	border: 1px solid #925DE8;
	border-radius: 8px;
}

#board>div:nth-child(1)>div>svg { /* 돋보기 */
	position: absolute;
	right: 10px;
	height: 25px;
	width: 25px;
	color: #925DE8;
	cursor: pointer;
}

#board>div { /* 게시글4개 */
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px auto 0px;
}

#board>div>div { /* 각각의게시글 */
	margin-left: 20px;
	width: 290px;
	background-color: white;
}

#board>div>div>img:nth-child(1) {
	cursor: pointer;
}

#board>div>div>div {
	margin: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#board>div>div>div>span:nth-child(1) {
	font-size: 18px;
	font-weight: 500;
}

#board>div>div>div>span:nth-child(2) {
	position: relative;
	font-size: 14px;
	font-weight: 500;
	color: rgb(100, 116, 139);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#board>div>div>div>span>svg {
	position: absolute;
	height: 20px;
	right: 73px;
}

#board>div:NOT(:first-child)>div>div:nth-child(2)>span>svg { /* 하트 */
	cursor: pointer;
}

.fillHeart {
	fill: #925DE8;
	color: #925DE8;
}

#board>div>div>div:nth-child(3) {
	justify-content: flex-end;
}

#board>div>div>div:nth-child(3)>span {
	position: relative;
	font-size: 14px;
	font-weight: 500;
	color: rgb(100, 116, 139);
}

#board>div>div>div:nth-child(3)>span>svg { /* 시계 */
	position: absolute;
	right: 38px;
	height: 18px;
}

#board>div>div>input {
	width: 320px;
}

input {
	width: 345px;
	border: 1px;
	border-radius: 8px;
	border-width: 0;
	padding: 10px 12px;
	font-size: 15px;
}

input:focus {
	outline: none;
	box-shadow: none;
}

/* ****************************팝업********************************* */
.popupContainer {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgb(0, 0, 0, 0.5);
	display: none;
}

.popupContent {
	background-color: white;
	width: 450px;
	height: 600px;
	position: fixed;
	margin: 10% auto;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 20px;
	display: none;
}

.popupContainer> div {
	position: relative;
}

.popupContainer> div > svg:nth-child(1) { /* 창닫기 */
	position: absolute;
	height: 30px;
	right: 10px;
	top: 10px;
	color: #4B4C56;
	cursor: pointer;
}

.popupContainer> div > svg:nth-child(1):hover {
	color: #E3D4FF;
}

.popupContainer>div:nth-child(1)>div:nth-child(2) {
	margin-top: 150px;
	position: relative;
}

.popupContainer>div:nth-child(1)>div>* {
	display: flex;
	justify-content: center;
	align-items: center;
}

.popupContainer>div:nth-child(1)>div:nth-child(2)>svg:nth-child(1) {
	/* 로고 */
	position: absolute;
	width: 70px;
	margin-left: 189px;
	margin-top: -80px;
	color: #925DE8;
}

.popupContainer>div:nth-child(1)>div:nth-child(2)>div:nth-child(2) {
	/* 간편가입+로그인 */
	margin-top: 20px;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 1.8px;
}

.popupContainer>div:nth-child(1)>div:nth-child(3) {
	margin-top: 30px;
}

.inputBdDiv {
	margin-left: 50px;
	width: 350px;
	border: 1px solid #925DE8;
	border-radius: 8px;
}

.popupContainer>div:nth-child(1)>div:nth-child(3)>div:nth-child(2) {
	margin-top: 5px;
}

.popupContainer>div:nth-child(1)>div:nth-child(3)>div:nth-child(3) { /* 노란 주의 문구 */
	position: relative;
	font-size: 13px;
	color: #f89302;
	justify-content: flex-start;
	margin-left: 65px;
	margin-top: 2px;
}

.popupContainer>div:nth-child(1)>div:nth-child(3)>div:nth-child(3) > svg {
	position: absolute;
	top: 4px;
    left: -15px;
	height: 13px;
	color: #f89302;
}

.popupContainer>div:nth-child(1)>div:nth-child(3)>div:nth-child(4) {
	margin: 0px 50px;
	justify-content: flex-start;
}

.popupContainer>div:nth-child(1)>div:nth-child(3)>div:nth-child(4)>span { /* 비밀번호찾기 */
	font-size: 13px;
	color: #4B4C56;
	margin: 4px 4px 0px 4px;
}

.popupContainer>div:nth-child(1)>div:nth-child(3)>div:nth-child(4)>span:nth-child(2) { /* 비밀번호찾기 링크 */
	margin-left: 5px;
	text-decoration: underline;
	text-decoration-color: #4486f6;
	color: #4486f6;
	cursor: pointer;
}

.popupContainer>div:nth-child(1)>div:nth-child(3)>div:nth-child(5) {
	/* 로그인버튼 */
	background-color: #925DE8;
	color: white;
}

.loginButton:hover {
	filter: brightness(95%);	
}

.popupContainer>div:nth-child(1)>div:nth-child(4) {
	margin-top: 20px;
}

.popupContainer>div:nth-child(1)>div:nth-child(4)>div:nth-child(1) {
	/* 카카오 */
	background-image: url("../img/카카오.png");
}

.popupContainer>div:nth-child(1)>div:nth-child(4)>div:nth-child(2) {
	/* 구글 */
	background-image: url("../img/구글.png");
}

.popupContainer>div:nth-child(1)>div:nth-child(4)>div:nth-child(3):hover {
	background-color: #EDE8F6;
	opacity: 100%;
}

.popupContainer > div:nth-child(2) {
	display: none;
	height: 330px;
}

.popupContainer > div:nth-child(2) > div:nth-child(2) {
	padding: 32px;
}

.popupContainer > div:nth-child(2) > div:nth-child(2) > * {
	margin: 8px auto;
	display: flex;
    justify-content: center;
    align-items: center;
}

.popupContainer > div:nth-child(2) > div:nth-child(2) > div:nth-child(6) > label {
	display: flex;
    align-items: center;
}

.popupContainer > div:nth-child(2) > div:nth-child(2) > div:nth-child(6) > label > span {
	margin-left: 5px;
}

.popupContainer > div:nth-child(2) > div:nth-child(2) > div:nth-child(3) {
	margin-top: 20px;
}

.popupContainer > div:nth-child(2) > div:nth-child(2) > div:nth-child(4) { /* 인증번호받기 */
	background-color: #925DE8;
	color: white;
}

.popupContainer > div:nth-child(2) > div:nth-child(2) > div:nth-child(5):hover {
	background-color: #EDE8F6;	
}

.popupContainer > div:nth-child(3) {
	height: 330px;
	display: none;
}

.popupContainer > div:nth-child(3) > div:nth-child(2) {
	padding: 32px;
}

.popupContainer > div:nth-child(3) > div:nth-child(2) > * {
	margin: 8px auto;
	display: flex;
    justify-content: center;
    align-items: center;
}

.popupContainer > div:nth-child(3) > div:nth-child(2) > div:nth-child(2) > span:nth-child(1) {
	color: black;
	font-weight: 500;
}

.popupContainer > div:nth-child(3) > div:nth-child(2) > div:nth-child(2) {
	margin: 2px auto;
}

.popupContainer > div:nth-child(3) > div:nth-child(2) > div:nth-child(3) {
	margin: 2px auto;
}

.popupContainer > div:nth-child(3) > div:nth-child(2) > div:nth-child(4) { /* 인증번호입력란 */
	margin: 15px auto 8px;
	color: red;
}

.popupContainer > div:nth-child(3) > div:nth-child(2) > div:nth-child(5) { /* 인증완료 */
	background-color: #925DE8;
	color: white;
}

.popupContainer > div:nth-child(3) > div:nth-child(2) > div:nth-child(6):hover {
	background-color: #EDE8F6;
}

.popupContainer > div:nth-child(3) > div:nth-child(2) > div:nth-child(7) > label {
	display: flex;
    align-items: center;
}

.popupContainer > div:nth-child(3) > div:nth-child(2) > div:nth-child(7) > label > span {
	margin-left: 5px;
}

.checkBox { /* 약관체크박스 */
	width: 17px;
	height: 17px;
	cursor: pointer;
}

.agree { /* 약관문구 */
	font-size: 12px;
	color: #4B4C56;
	cursor: pointer;
}

.popupBigTitle {
	font-size: 20px;
	font-weight: 700;
}

.popupSmallTitle {
	font-size: 14px;
	color: #4B4C56;
}

.loginButton {
	font-size: 16px;
	width: 350px;
	height: 44px;
	border: 1px solid #925DE8;
	border-radius: 8px;
	margin-top: 6px;
	margin-left: 50px;
	padding: 6px 0px;
	cursor: pointer;
}

.hide {
	display: none !important;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: #E3D4FF;
	border-radius: 10px;
	background-clip: padding-box;
	border: 2px solid transparent;
}

::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0);
	border-radius: 10px;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.bd {
	border: 1px solid red;
}

.bs {
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}