@charset "UTF-8";

.bd{border: 1px solid red;}
.bs{box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;}
.fl{float:left;}
.fr{float:right;}
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-thumb {
	background-color: #E3D4FF;
	border-radius: 10px;
	background-clip: padding-box;
	border: 2px solid transparent;
}

::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0);
	border-radius: 10px;
}
* {box-sizing: border-box;}
body {
   font-family: Pretendard, "Apple SD Gothic Neo";
   background-color: #F8F5FD;
}
body > *:not(:first-child){margin: 20px auto 0;}
.daterange{display: none;}
/* ***************헤더***************** */
#header {
	width: 1280px;
	margin: auto;
}
#title {
	width: 1280px;
}
/***********main****************/
#main {
	width: 1280px;
	height: 830px;
	text-align: center;
	padding: 30px 180px;
	background-color: white;
	border-radius: 15px;
}
.date { /*2026년 5월*/
   font-size: 22px;
   margin-left: 10px;
}
.changeView { /*일월주담고있는 큰 div*/
	margin-top: 12px;
	margin-left: 30px;
	width: 181px;
	height: 35px;
	background-color: #E7DEF9;
	border-radius: 12px;
	border: 1.3px solid rgba(58, 58, 58, 0.2);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.changeView > span { /*일월주*/
	pointer-events: auto;
    cursor: pointer;
	font-size : 16px;
	font-weight: 600;
	color: #925DE8;
	width: 57px;
	margin: 3px;
	padding: 6px 20px; 
	border-radius: 12px;
}
.changeView > span:hover {
	background-color: #925DE8;
	color: white;
	opacity: 50%;
}
.changeView > span:nth-child(3) { /*월*/
	background-color: #925DE8;
	color: white;
}

/************달력div***************/
#main > div:nth-child(2) { /* 달력 div */
	position: relative;
	height: 730px;
}
#main > div:nth-child(2) > input { 
	display: none;
}
/************달력****************/
.daterangepicker:before, .daterangepicker:after {
    display: none !important; /* 달력 화살표 지우기 */
}
.daterangepicker { /*사이즈 정하기*/
    width: 720px !important;
	display: block !important;
	border-radius: 12px !important;
	left: 35% !important;
	top: 335px !important;
}
.daterangepicker .drp-calendar.right {display: none !important;} /* 오른쪽 달력 없애기*/
.daterangepicker .drp-calendar.left { /* 왼쪽 달력 영역이 전체 너비를 가득 채우도록 설정 */
    width: 100% !important;
    max-width: 100% !important;
    height: 100%;
    max-height: 100% !important;
}
.calendar-table {height: 100%;} /* 테이블 감싸고 있는 div도 */
.table-condensed {height: 100%;} /* 테이블도 */
.table-condensed > thead > tr:nth-child(1) {
	height: 50px;
}
.calendar-table th, 
.calendar-table td {
	font-size: 17px !important;
	height: 70px !important;
}
.calendar-table td {
	pointer-events: none; 
}
.calendar-table td:hover {
	background-color: white !important;
}
.daterangepicker td.in-range {
	background-color: #925DE8 !important; 
	color: #fff !important;
}
.daterangepicker td.active{
	background-color: #925DE8 !important; 
}
.daterangepicker td > svg {
    pointer-events: auto;
    cursor: pointer;
}
.daterangepicker td > svg:hover {
	opacity: 0.7;
}
/******* 달력 위에 있는 svg들 *******/
.delete { /* 쓰레기 버튼들 */
	position: absolute;
	width: 53px;
	padding: 10px;
	border-radius: 40px;
	border: 2px solid;
	transform: translate(-46%, -48%);
	color: white;
}
.plus { /* + 버튼들 */
	position: absolute;
	width: 53px;
	padding: 10px;
	border-radius: 40px;
	border: 2px solid black;
	transform: translate(-46%, -48%);
	color: black;
}
/* 일정확정하기버튼 */
#main > button { 
	cursor:pointer;
	border-radius: 4px;
	border: none;
	position:fixed;
	bottom: 50px;
	right: 132px;
	width: 170px;
	height: 50px;
	font-size: 20px;
	font-weight: 700;
	background-color: #925DE8;
	color: white;
}
#main > button:hover {
	opacity: 0.3;
}